<div
  class="block max-w-exl p-10 bg-white border border-gray-500 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-1000 dark:border-gray-700 dark:hover:bg-gray-900">
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-1xl lg:py-4">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add Employee</h2>
      <form [formGroup]="empForm" (ngSubmit)="onSubmit(empForm)">
        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
          <div class="sm:col-span-2">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Employee
              Name <i class="error">*</i></label>
            <input type="text" name="name" id="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Employee name" required="" formControlName="empName">

            <ng-container [ngTemplateOutlet]="employeeRef"
              [ngTemplateOutletContext]="{list: empForm, controlName:'empName'}">
            </ng-container>
          </div>


          <div class="sm:col-span-2">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Role
              <i class="error">*</i></label>
            <select id="roles"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              formControlName="empRole">
              <option [value]="''">Select role</option>
              <option *ngFor="let list of employeeRoles" value="{{list}}">{{list}}</option>
            </select>

            <ng-container [ngTemplateOutlet]="employeeRef"
              [ngTemplateOutletContext]="{list: empForm, controlName:'empRole'}">
            </ng-container>
          </div>


          <div class="w-full">
            <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start Date <i
                class="error">*</i></label>

            <mat-form-field class="example-form-field">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="startdatepicker" formControlName="startDate">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="startdatepicker"></mat-datepicker-toggle>
              <mat-datepicker #startdatepicker>
                <mat-datepicker-actions>
                  <label class="selectedDate">{{empForm.value.startDate | date}}</label>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Save</button>
                  <button mat-raised-button color="primary" (click)="today('start')" #todayButton>
                    Today
                  </button>
                  <button mat-raised-button color="primary" (click)="nextMonday('start')" #todayButton>
                    Next Monday
                  </button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>

            <ng-container [ngTemplateOutlet]="employeeRef"
              [ngTemplateOutletContext]="{list: empForm, controlName:'startDate'}">
            </ng-container>
          </div>

          <div class="w-full">
            <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Date </label>

            <mat-form-field class="example-form-field">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="enddatepicker" formControlName="endDate">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="enddatepicker"></mat-datepicker-toggle>
              <mat-datepicker #enddatepicker>
                <mat-datepicker-actions>
                  <label class="selectedDate">{{empForm.value.endDate | date}}</label>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Save</button>
                  <button mat-raised-button color="primary" (click)="today('last')" #todayButton>
                    Today
                  </button>
                  <button mat-raised-button color="primary" (click)="nextMonday('last')" #todayButton>
                    Next Monday
                  </button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>

          </div>

          <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 btn">Save</button>

          <button type="button"
            class="text-white bg-blue-300 hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center btn"
            routerLink="/employee/list">Cancel</button>

        </div>
      </form>
    </div>
  </section>
</div>


<!-- validation message template -->
<ng-template #employeeRef let-list="list" let-field="controlName">
  <span class="error">
    <p *ngIf="list.get(field)?.['errors']?.['required'] && submit">This is required! </p>
  </span>
</ng-template>
<!-- validation message template -->